@model List<SuspectModel>


<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>Uyruk</th>
            <th>Kimlik No</th>
            <th>İsim Soyisim</th>
            <th>Cinsiyet</th>
            <th>Doğum Tarihi</th>

        
            <th>İlçe</th>
            <th>Yakalanma Adresi</th>
            <th>Oluşturulma Zamanı</th>
            <th>Güncelleme Zamanı</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (SuspectModel suspect in Model)
        {
            <tr>
                <td>@suspect.Nationality</td>
                <td>@suspect.Tc</td>
                <td>@suspect.Name  @suspect.LastName</td>
                <td>@suspect.Gender</td>
                <td>@suspect.DateOfBirth.ToString()</td>
 
                <td>@suspect.District</td>
                <td>@suspect.CatchAdress</td>
                <td>@suspect.CreatedDate.ToString()</td>
                <td>@suspect.UpdatedDate.ToString()</td>
                <td class="text-end">
                    <a asp-action="Edit" * asp-route-id="" type="button" class="btn btn-info btn-sm bg-secondary"><i class="fa fa-edit me-2"></i></a>
                    <a asp-action="Delete" asp-route-id="" onclick="return confirm('@suspect.Name isimli @suspect.Tc kimlik numaralı kullanıcıyı silmek istediğinize emin misiniz?')" type="button" class="btn btn-info btn-sm bg-secondary"><i class="fa fa-trash me-2"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>