@model List<SuspectModel>


<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>Kimlik No</th>
            <th>İsim Soyisim</th>
            <th>Doğum Tarihi</th>
            <th>Cinsiyet</th>
            <th>Uyruk</th>
            <th>İlçe</th>
            <th>Yakalanma Adresi</th>
            <th>Oluşturulma Zamanı</th>
            <th>Güncelleme Zamanı</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (SuspectModel suspect in Model)
        {
            <tr>
                <td>@suspect.Tc</td>
                <td>@suspect.Name  @suspect.LastName</td>
                <td>@suspect.DateOfBirth.ToString()</td>
                <td>@suspect</td>
                <td>
                    @if (user.Locked)
                    {

                        <i class="fa fa-times text-danger"></i>
                    }
                    else
                    {
                        <i class="fa fa-check text-success"></i>
                    }
                </td>
                <td>@user.CreatedAt</td>
                <td class="text-end">
                    <a asp-action="Edit" asp-route-id="@user.Id" type="button" class="btn btn-info btn-sm bg-secondary"><i class="fa fa-edit me-2"></i></a>
                    <a asp-action="Delete" asp-route-id="@user.Id" onclick="return confirm('@user.FullName isimli @user.Sicil sicilli kullanıcıyı silmek istediğinize emin misiniz?')" type="button" class="btn btn-info btn-sm bg-secondary"><i class="fa fa-trash me-2"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>